openapi: 3.0.3
info:
  title: Leaf Unified API
  version: 1.0.0
  description: "Auto\u2011generated by openAPI_generator.py"
servers:
- url: https://api.withleaf.io/services
paths:
  /alerts/api/alerts/webhooks:
    post:
      summary: Create a webhook
      operationId: createWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookRequest'
      responses:
        '201':
          description: Webhook created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          description: Bad request (e.g., eventRegisteredTwice)
      security:
      - bearerAuth: []
      tags:
      - Leaf API_Reference_Alerts API
    get:
      summary: Get all webhooks
      operationId: listWebhooks
      responses:
        '200':
          description: Array of webhooks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookArray'
      security:
      - bearerAuth: []
      tags:
      - Leaf API_Reference_Alerts API
  /alerts/api/alerts/webhooks/{id}:
    get:
      summary: Get a webhook
      operationId: getWebhook
      parameters:
      - $ref: '#/components/parameters/WebhookId'
      responses:
        '200':
          description: Requested webhook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '404':
          description: Webhook not found
      security:
      - bearerAuth: []
      tags:
      - Leaf API_Reference_Alerts API
    delete:
      summary: Delete a webhook
      operationId: deleteWebhook
      parameters:
      - $ref: '#/components/parameters/WebhookId'
      responses:
        '204':
          description: Webhook deleted
        '404':
          description: Webhook not found
      security:
      - bearerAuth: []
      tags:
      - Leaf API_Reference_Alerts API
  /alerts/api/alerts/webhooks/failed-calls:
    get:
      summary: Get failed calls for webhooks
      operationId: listFailedCalls
      responses:
        '200':
          description: List of failed delivery attempts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailedCallsResponse'
      security:
      - bearerAuth: []
      tags:
      - Leaf API_Reference_Alerts API
  /alerts/api/alerts/arcgis:
    post:
      summary: Create an ArcGIS alert (beta)
      operationId: createArcgisAlert
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateArcgisAlertRequest'
      responses:
        '201':
          description: ArcGIS alert created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArcgisAlert'
        '400':
          description: Bad request (e.g., eventRegisteredTwice)
      security:
      - bearerAuth: []
      tags:
      - Leaf API_Reference_Alerts API
  /beta/api/users/{leafUserId}/machines:
    get:
      tags:
      - Leaf API_Reference_Beta_Assets API
      summary: Get all machines
      operationId: getMachines
      parameters:
      - $ref: '#/components/parameters/leafUserId'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/size'
      - $ref: '#/components/parameters/sort'
      - name: name
        in: query
        description: Filter by machine name.
        schema:
          type: string
      - name: provider
        in: query
        description: Filter by provider.
        schema:
          type: string
          enum:
          - JohnDeere
          - Stara
          - CNHI
          - Leaf
      - name: providerOrganizationId
        in: query
        description: Provider-side organization id.
        schema:
          type: string
      - name: serialNumber
        in: query
        description: Filter by serial number.
        schema:
          type: string
      - name: originType
        in: query
        description: Machine origin.
        schema:
          type: string
          enum:
          - USER_CREATED
          - FILE_POOLED
          - PROVIDER_POOLED
      - name: createdTime
        in: query
        description: Exact creation time (ISO-8601).
        schema:
          type: string
          format: date-time
      - name: beforeCreatedTime
        in: query
        description: Return records created before this time (ISO-8601).
        schema:
          type: string
          format: date-time
      - name: afterCreatedTime
        in: query
        description: Return records created after this time (ISO-8601).
        schema:
          type: string
          format: date-time
      - name: vin
        in: query
        description: Vehicle Identification Number.
        schema:
          type: string
      responses:
        '200':
          description: A list of machines.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Machine'
      security:
      - bearerAuth: []
    post:
      tags:
      - Leaf API_Reference_Beta_Assets API
      summary: Create a machine
      operationId: createMachine
      parameters:
      - $ref: '#/components/parameters/leafUserId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MachineInput'
      responses:
        '201':
          description: Machine created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Machine'
      security:
      - bearerAuth: []
  /beta/api/users/{leafUserId}/machines/{machineId}:
    get:
      tags:
      - Leaf API_Reference_Beta_Assets API
      summary: Get a machine
      operationId: getMachine
      parameters:
      - $ref: '#/components/parameters/leafUserId'
      - $ref: '#/components/parameters/machineId'
      responses:
        '200':
          description: Machine details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Machine'
      security:
      - bearerAuth: []
    patch:
      tags:
      - Leaf API_Reference_Beta_Assets API
      summary: Update a machine
      operationId: updateMachine
      parameters:
      - $ref: '#/components/parameters/leafUserId'
      - $ref: '#/components/parameters/machineId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MachineUpdate'
      responses:
        '200':
          description: Updated machine.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Machine'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Leaf API_Reference_Beta_Assets API
      summary: Delete a machine
      operationId: deleteMachine
      parameters:
      - $ref: '#/components/parameters/leafUserId'
      - $ref: '#/components/parameters/machineId'
      responses:
        '204':
          description: Machine deleted.
      security:
      - bearerAuth: []
  /beta/api/users/{leafUserId}/machines/{machineId}/files:
    get:
      tags:
      - Leaf API_Reference_Beta_Assets API
      summary: Get machine files
      operationId: getMachineFiles
      parameters:
      - $ref: '#/components/parameters/leafUserId'
      - $ref: '#/components/parameters/machineId'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/size'
      - $ref: '#/components/parameters/sort'
      - name: leafFileId
        in: query
        schema:
          type: string
          format: uuid
      - name: originType
        in: query
        schema:
          type: string
          enum:
          - USER_CREATED
          - FILE_POOLED
          - PROVIDER_POOLED
      - name: createdTime
        in: query
        schema:
          type: string
          format: date-time
      - name: beforeCreatedTime
        in: query
        schema:
          type: string
          format: date-time
      - name: afterCreatedTime
        in: query
        schema:
          type: string
          format: date-time
      - name: startTime
        in: query
        schema:
          type: string
          format: date-time
      - name: endTime
        in: query
        schema:
          type: string
          format: date-time
      - name: beforeStartTime
        in: query
        schema:
          type: string
          format: date-time
      - name: afterStartTime
        in: query
        schema:
          type: string
          format: date-time
      - name: beforeEndTime
        in: query
        schema:
          type: string
          format: date-time
      - name: afterEndTime
        in: query
        schema:
          type: string
          format: date-time
      - name: distanceValue
        in: query
        schema:
          type: number
      - name: greaterThanDistanceValue
        in: query
        schema:
          type: number
      - name: lessThanDistanceValue
        in: query
        schema:
          type: number
      - name: distanceUnit
        in: query
        schema:
          type: string
          enum:
          - Mile
          - mile
          - Feet
          - ft
      responses:
        '200':
          description: List of machine files.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MachineFile'
      security:
      - bearerAuth: []
  /beta/api/users/{leafUserId}/implements:
    get:
      tags:
      - Leaf API_Reference_Beta_Assets API
      summary: Get all implements
      operationId: getImplements
      parameters:
      - $ref: '#/components/parameters/leafUserId'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/size'
      - $ref: '#/components/parameters/sort'
      - name: provider
        in: query
        schema:
          type: string
          enum:
          - JohnDeere
          - Trimble
      - name: providerImplementId
        in: query
        schema:
          type: string
      - name: providerOrganizationId
        in: query
        schema:
          type: string
      - name: createdTime
        in: query
        schema:
          type: string
          format: date-time
      - name: updatedTime
        in: query
        schema:
          type: string
          format: date-time
      - name: name
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Array of implements.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Implement'
      security:
      - bearerAuth: []
  /beta/api/users/{leafUserId}/implements/{implementId}:
    get:
      tags:
      - Leaf API_Reference_Beta_Assets API
      summary: Get an implement
      operationId: getImplement
      parameters:
      - $ref: '#/components/parameters/leafUserId'
      - $ref: '#/components/parameters/implementId'
      responses:
        '200':
          description: Implement details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Implement'
      security:
      - bearerAuth: []
  /beta/api/users/{leafUserId}/operators:
    get:
      tags:
      - Leaf API_Reference_Beta_Assets API
      summary: Get all operators
      operationId: getOperators
      parameters:
      - $ref: '#/components/parameters/leafUserId'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/size'
      responses:
        '200':
          description: Array of operators.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Operator'
      security:
      - bearerAuth: []
  /beta/api/users/{leafUserId}/operators/{operatorId}:
    get:
      tags:
      - Leaf API_Reference_Beta_Assets API
      summary: Get an operator
      operationId: getOperator
      parameters:
      - $ref: '#/components/parameters/leafUserId'
      - $ref: '#/components/parameters/operatorId'
      responses:
        '200':
          description: Operator details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operator'
      security:
      - bearerAuth: []
  /beta/api/products:
    get:
      summary: Get all products
      tags:
      - Leaf API_Reference_Beta_Input_Validator API
      parameters:
      - $ref: '#/components/parameters/LeafUserIdQ'
      - $ref: '#/components/parameters/Provider'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Size'
      - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: List of products.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Product'
      security:
      - bearerAuth: []
  /beta/api/users/{leafUserId}/products/summary:
    get:
      summary: Get summarized products
      tags:
      - Leaf API_Reference_Beta_Input_Validator API
      parameters:
      - in: path
        name: leafUserId
        required: true
        schema:
          type: string
          format: uuid
      - in: query
        name: name
        description: Part of the product name.
        schema:
          type: string
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Size'
      - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: Summarized product list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductSummary'
      security:
      - bearerAuth: []
  /beta/api/products/search:
    get:
      summary: Search for products
      tags:
      - Leaf API_Reference_Beta_Input_Validator API
      parameters:
      - in: query
        name: name
        required: true
        description: Partial or full product name to search.
        schema:
          type: string
      - $ref: '#/components/parameters/MaxResults'
      responses:
        '200':
          description: Search results.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Product'
      security:
      - bearerAuth: []
  /beta/api/products/{id}:
    get:
      summary: Get a product
      tags:
      - Leaf API_Reference_Beta_Input_Validator API
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Product details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
      security:
      - bearerAuth: []
  /beta/api/products/matching/operations/{operationId}:
    get:
      summary: Get matching products from an operation
      tags:
      - Leaf API_Reference_Beta_Input_Validator API
      parameters:
      - in: path
        name: operationId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Predicted/validated product matches for the operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductMatch'
      security:
      - bearerAuth: []
  /beta/api/products/matching/operations/{operationId}/matches/{matchId}:
    patch:
      summary: Update product match
      tags:
      - Leaf API_Reference_Beta_Input_Validator API
      parameters:
      - in: path
        name: operationId
        required: true
        schema:
          type: string
      - in: path
        name: matchId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - type: object
                required:
                - status
                properties:
                  status:
                    type: string
                    enum:
                    - VALIDATED
              - type: object
                required:
                - productId
                properties:
                  productId:
                    type: string
                    format: uuid
      responses:
        '200':
          description: Updated list of matches.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductMatch'
      security:
      - bearerAuth: []
  /beta/api/products/matching/operations/{operationId}/matches/{matchId}/historical:
    get:
      summary: Get product match history
      tags:
      - Leaf API_Reference_Beta_Input_Validator API
      parameters:
      - in: path
        name: operationId
        required: true
        schema:
          type: string
      - in: path
        name: matchId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Historical changes for the product match.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductMatchHistory'
      security:
      - bearerAuth: []
  /beta/api/varieties:
    get:
      summary: Get all varieties
      tags:
      - Leaf API_Reference_Beta_Input_Validator API
      parameters:
      - $ref: '#/components/parameters/LeafUserIdQ'
      - $ref: '#/components/parameters/Provider'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Size'
      - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: List of varieties.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Variety'
      security:
      - bearerAuth: []
  /beta/api/varieties/{id}:
    get:
      summary: Get a variety
      tags:
      - Leaf API_Reference_Beta_Input_Validator API
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Variety details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Variety'
      security:
      - bearerAuth: []
  /beta/api/users/{leafUserId}/varieties/summary:
    get:
      summary: Get summarized varieties
      tags:
      - Leaf API_Reference_Beta_Input_Validator API
      parameters:
      - in: path
        name: leafUserId
        required: true
        schema:
          type: string
          format: uuid
      - in: query
        name: name
        description: Part of the variety name.
        schema:
          type: string
      - in: query
        name: crops
        description: Crop filter.
        schema:
          type: string
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Size'
      - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: Summarized varieties.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VarietySummary'
      security:
      - bearerAuth: []
  /beta/api/varieties/search:
    get:
      summary: Search for varieties
      tags:
      - Leaf API_Reference_Beta_Input_Validator API
      parameters:
      - in: query
        name: name
        required: true
        description: Partial or full variety name.
        schema:
          type: string
      - $ref: '#/components/parameters/MaxResults'
      - in: query
        name: crop
        description: Crop name filter.
        schema:
          type: string
      responses:
        '200':
          description: Search results.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Variety'
      security:
      - bearerAuth: []
  /beta/api/tankMixes:
    get:
      summary: Get all tank mixes
      tags:
      - Leaf API_Reference_Beta_Input_Validator API
      parameters:
      - $ref: '#/components/parameters/LeafUserIdQ'
      - $ref: '#/components/parameters/Provider'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Size'
      - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: List of tank mixes.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TankMix'
      security:
      - bearerAuth: []
  /beta/api/tankMixes/search:
    get:
      summary: Search for tank mixes
      tags:
      - Leaf API_Reference_Beta_Input_Validator API
      parameters:
      - in: query
        name: name
        required: true
        description: Partial or full tank mix name.
        schema:
          type: string
      - $ref: '#/components/parameters/MaxResults'
      responses:
        '200':
          description: Search results.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TankMix'
      security:
      - bearerAuth: []
  /beta/api/users/{leafUserId}/layers:
    get:
      tags:
      - Leaf API_Reference_Beta_Layers API
      summary: Get all layers for a Leaf User
      description: Returns a paginated list of layers that belong to the specified
        Leaf User.
      parameters:
      - $ref: '#/components/parameters/Leaf_API_Reference_Beta_Layers_API_leafUserId'
      - name: type
        in: query
        description: Filter the returned layers by type.
        schema:
          type: string
          enum:
          - TASSEL_COUNT
          - STAND_COUNT
          - NVDI
          - RGB
      - name: page
        in: query
        description: Zero-based index of the results page to return. Defaults to **0**.
        schema:
          type: integer
          minimum: 0
          default: 0
      - name: size
        in: query
        description: "Maximum number of items to include in the response (1\u2013\
          100). Defaults to **20** when omitted."
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      responses:
        '200':
          description: A JSON array of Layer objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Layer'
              examples:
                sample:
                  value:
                  - id: 96a098e0-f1d0-47e8-968d-9d55d54da114
                    leafUserId: 055c4d61-b1e2-4fa9-873c-23433a11c271
                    apiOwnerUsername: fabyan
                    type: RGB
                    origin: PROVIDER_POOLED
                    provider: Sentera
                    providerLayerId: vnoyi6a_FI_edovSouthernM_CV_prod_82f9b3d6_211018_151052
                    providerFieldId: ycof8zg_AS_edovSouthernM_CV_prod_a025df2d_211015_200456
                    name: QuickTile RGB
                    size: 159135298
                    md5: 7ff746c6f5f06fc25b46420328402bed
                    contentS3: URL
                    downloadContentS3: URL
                    createdTime: '2022-02-16T21:40:20.257Z'
                    leafFieldIds:
                    - f43ca7cc-c73a-43b9-8685-070b03876475
                    - edcf7b8b-913e-4e53-a0b5-91aa16699dfc
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
  /beta/api/users/{leafUserId}/layers/climateFieldView:
    post:
      tags:
      - Leaf API_Reference_Beta_Layers API
      summary: Upload a layer to Climate FieldView
      description: "Uploads a GeoTIFF layer file to Climate FieldView. Only **RGB**\
        \ layers up to 5 MB that meet Climate\u2019s format requirements are accepted.\
        \ Uploaded layers are not stored by Leaf."
      parameters:
      - $ref: '#/components/parameters/Leaf_API_Reference_Beta_Layers_API_leafUserId'
      - name: uploadType
        in: query
        description: Type of layer being uploaded.
        required: true
        schema:
          type: string
          enum:
          - RGB
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - file
              properties:
                file:
                  type: string
                  format: binary
            encoding:
              file:
                contentType: image/tiff
      responses:
        '200':
          description: Upload completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerUploadResponse'
              examples:
                sample:
                  value:
                    id: 86fb8bea-1670-48ea-a85d-fbdf6feefb35
                    name: LayerName
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
  /beta/prescription/api/users/{leafUserId}/ravenSlingshot:
    post:
      summary: Upload prescription to Raven Slingshot
      operationId: uploadRavenSlingshot
      parameters:
      - $ref: '#/components/parameters/Leaf_API_Reference_Beta_Prescriptions_API_leafUserId'
      requestBody:
        $ref: '#/components/requestBodies/ZipFile'
      responses:
        '200':
          description: Upload metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prescription'
      security:
      - bearerAuth: []
      tags:
      - Leaf API_Reference_Beta_Prescriptions API
    get:
      summary: List prescriptions from Raven Slingshot
      operationId: listRavenSlingshot
      parameters:
      - $ref: '#/components/parameters/Leaf_API_Reference_Beta_Prescriptions_API_leafUserId'
      responses:
        '200':
          description: List of prescriptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrescriptionList'
      security:
      - bearerAuth: []
      tags:
      - Leaf API_Reference_Beta_Prescriptions API
  /beta/prescription/api/users/{leafUserId}/johnDeere:
    post:
      summary: Upload prescription to John Deere
      operationId: uploadJohnDeere
      parameters:
      - $ref: '#/components/parameters/Leaf_API_Reference_Beta_Prescriptions_API_leafUserId'
      - $ref: '#/components/parameters/organizationId'
      requestBody:
        $ref: '#/components/requestBodies/ZipFile'
      responses:
        '200':
          description: Upload metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prescription'
      security:
      - bearerAuth: []
      tags:
      - Leaf API_Reference_Beta_Prescriptions API
    get:
      summary: List prescriptions from John Deere
      operationId: listJohnDeere
      parameters:
      - $ref: '#/components/parameters/Leaf_API_Reference_Beta_Prescriptions_API_leafUserId'
      - $ref: '#/components/parameters/organizationId'
      responses:
        '200':
          description: List of prescriptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrescriptionList'
      security:
      - bearerAuth: []
      tags:
      - Leaf API_Reference_Beta_Prescriptions API
  /beta/prescription/api/users/{leafUserId}/johnDeere/download:
    get:
      summary: Download prescription from John Deere
      operationId: downloadJohnDeere
      parameters:
      - $ref: '#/components/parameters/Leaf_API_Reference_Beta_Prescriptions_API_leafUserId'
      - $ref: '#/components/parameters/fileId'
      - $ref: '#/components/parameters/organizationId'
      responses:
        '200':
          description: Presigned download URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadUrl'
      security:
      - bearerAuth: []
      tags:
      - Leaf API_Reference_Beta_Prescriptions API
  /beta/prescription/api/users/{leafUserId}/cnhi:
    post:
      summary: Upload prescription to CNHi
      operationId: uploadCNHi
      parameters:
      - $ref: '#/components/parameters/Leaf_API_Reference_Beta_Prescriptions_API_leafUserId'
      - $ref: '#/components/parameters/companyId'
      requestBody:
        $ref: '#/components/requestBodies/ZipFile'
      responses:
        '200':
          description: Upload metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prescription'
      security:
      - bearerAuth: []
      tags:
      - Leaf API_Reference_Beta_Prescriptions API
    get:
      summary: List prescriptions from CNHi
      operationId: listCNHi
      parameters:
      - $ref: '#/components/parameters/Leaf_API_Reference_Beta_Prescriptions_API_leafUserId'
      - $ref: '#/components/parameters/companyId'
      responses:
        '200':
          description: List of prescriptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrescriptionList'
      security:
      - bearerAuth: []
      tags:
      - Leaf API_Reference_Beta_Prescriptions API
  /beta/prescription/api/users/{leafUserId}/climateFieldView:
    post:
      summary: Upload prescription to Climate FieldView
      operationId: uploadClimateFieldView
      parameters:
      - $ref: '#/components/parameters/Leaf_API_Reference_Beta_Prescriptions_API_leafUserId'
      requestBody:
        $ref: '#/components/requestBodies/ZipFile'
      responses:
        '200':
          description: Upload metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prescription'
      security:
      - bearerAuth: []
      tags:
      - Leaf API_Reference_Beta_Prescriptions API
  /beta/prescription/api/users/{leafUserId}/trimble:
    post:
      summary: Upload prescription to Trimble
      operationId: uploadTrimble
      parameters:
      - $ref: '#/components/parameters/Leaf_API_Reference_Beta_Prescriptions_API_leafUserId'
      - $ref: '#/components/parameters/rateAttribute'
      - $ref: '#/components/parameters/rateUnit'
      - $ref: '#/components/parameters/fileName'
      requestBody:
        $ref: '#/components/requestBodies/ZipFile'
      responses:
        '200':
          description: Upload metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prescription'
      security:
      - bearerAuth: []
      tags:
      - Leaf API_Reference_Beta_Prescriptions API
  /beta/prescription/api/users/{leafUserId}/agleader:
    post:
      summary: Upload prescription to AgLeader
      operationId: uploadAgLeader
      parameters:
      - $ref: '#/components/parameters/Leaf_API_Reference_Beta_Prescriptions_API_leafUserId'
      requestBody:
        $ref: '#/components/requestBodies/ZipFile'
      responses:
        '200':
          description: Upload metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prescription'
      security:
      - bearerAuth: []
      tags:
      - Leaf API_Reference_Beta_Prescriptions API
  /prescription/api/users/{leafUserId}/operationsPlanning/JohnDeere:
    post:
      tags:
      - Leaf API_Reference_Beta_Prescriptions_Operations_Planning API
      summary: Create an operation plan on John Deere
      description: "Creates a John Deere Work Plan (operation planning) based on prescriptions\
        \ and optional work\u2010order metadata."
      security:
      - bearerAuth: []
      parameters:
      - name: leafUserId
        in: path
        required: true
        description: Leaf user identifier whose organization the plan will belong
          to.
        schema:
          $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperationPlanCreateRequest'
      responses:
        '201':
          description: Operation plan successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationPlan'
        '400':
          description: Invalid request body or parameters.
        '401':
          description: "Authentication failed \u2013 missing or invalid bearer token."
        '404':
          description: Leaf user not found.
  /prescription/api/users/{leafUserId}/operationsPlanning:
    get:
      tags:
      - Leaf API_Reference_Beta_Prescriptions_Operations_Planning API
      summary: List all operation plans
      description: Returns every operation plan that exists for the specified Leaf
        user.
      security:
      - bearerAuth: []
      parameters:
      - name: leafUserId
        in: path
        required: true
        description: Leaf user identifier whose operation plans will be listed.
        schema:
          $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: A JSON array of operation plans.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OperationPlan'
        '401':
          description: "Authentication failed \u2013 missing or invalid bearer token."
        '404':
          description: Leaf user not found.
  /config/api/configs:
    get:
      tags:
      - Leaf API_Reference_Configurations API
      summary: Get API Owner's Configuration
      operationId: getApiOwnerConfiguration
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Current configuration for the API owner.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Configuration'
    patch:
      tags:
      - Leaf API_Reference_Configurations API
      summary: Update API Owner's Configuration
      operationId: updateApiOwnerConfiguration
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurationMutation'
      responses:
        '200':
          description: Updated configuration for the API owner.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Configuration'
  /config/api/configs/{leafUserId}:
    parameters:
    - name: leafUserId
      in: path
      required: true
      description: UUID identifying the Leaf user.
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Leaf API_Reference_Configurations API
      summary: Get Leaf User's Configuration
      operationId: getLeafUserConfiguration
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Current configuration for the specified Leaf user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Configuration'
    post:
      tags:
      - Leaf API_Reference_Configurations API
      summary: Create Leaf User's Configuration
      operationId: createLeafUserConfiguration
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurationMutation'
      responses:
        '201':
          description: Newly created configuration for the Leaf user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Configuration'
    patch:
      tags:
      - Leaf API_Reference_Configurations API
      summary: Update Leaf User's Configuration
      operationId: updateLeafUserConfiguration
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurationMutation'
      responses:
        '200':
          description: Updated configuration for the Leaf user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Configuration'
    delete:
      tags:
      - Leaf API_Reference_Configurations API
      summary: Delete Leaf User's Configuration
      operationId: deleteLeafUserConfiguration
      security:
      - BearerAuth: []
      responses:
        '204':
          description: Configuration deleted. The Leaf user will now inherit the API
            owner's configuration.
  /satellite/api/fields:
    get:
      summary: Get all satellite fields
      tags:
      - Leaf API_Reference_Crop_Monitoring API
      parameters:
      - name: externalId
        in: query
        schema:
          type: string
      - name: sort
        in: query
        description: Comma-separated list of fields with optional asc|desc (e.g. createdAt,desc).
        schema:
          type: string
      responses:
        '200':
          description: List of satellite fields
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Field'
    post:
      summary: Create a satellite field
      tags:
      - Leaf API_Reference_Crop_Monitoring API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FieldCreateRequest'
      responses:
        '201':
          description: Field created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Field'
  /satellite/api/fields/{fieldId}:
    parameters:
    - name: fieldId
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get a satellite field
      tags:
      - Leaf API_Reference_Crop_Monitoring API
      responses:
        '200':
          description: Satellite field
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Field'
    delete:
      summary: Delete a satellite field
      tags:
      - Leaf API_Reference_Crop_Monitoring API
      responses:
        '204':
          description: Field deleted
  /satellite/api/fields/{fieldId}/processes:
    parameters:
    - name: fieldId
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get processes (imagery) for a field
      tags:
      - Leaf API_Reference_Crop_Monitoring API
      parameters:
      - name: startDate
        in: query
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        schema:
          type: string
          format: date
      - name: startProcessedTimestamp
        in: query
        schema:
          type: string
          format: date-time
      - name: endProcessedTimestamp
        in: query
        schema:
          type: string
          format: date-time
      - name: maxClouds
        in: query
        schema:
          type: number
          minimum: 0
          maximum: 100
          default: 100
      - name: minCoverage
        in: query
        schema:
          type: number
          minimum: 0
          maximum: 100
          default: 0
      - name: status
        in: query
        schema:
          type: string
          enum:
          - SUCCESS
          - FAILED
          - STARTED
          default: SUCCESS
      - name: page
        in: query
        schema:
          type: integer
          minimum: 0
          default: 0
      - name: size
        in: query
        schema:
          type: integer
          minimum: 1
          default: 20
      - name: provider
        in: query
        description: Filter by provider. Use multiple occurrences to specify more
          than one.
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - sentinel
            - planet
      responses:
        '200':
          description: List of processes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Process'
  /satellite/api/fields/{fieldId}/processes/{processId}:
    parameters:
    - name: fieldId
      in: path
      required: true
      schema:
        type: string
    - name: processId
      in: path
      required: true
      schema:
        type: integer
    get:
      summary: Get a specific process
      tags:
      - Leaf API_Reference_Crop_Monitoring API
      responses:
        '200':
          description: Process detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Process'
  /satellite/api/fields/{fieldId}/process/{processId}/reprocess:
    parameters:
    - name: fieldId
      in: path
      required: true
      schema:
        type: string
    - name: processId
      in: path
      required: true
      schema:
        type: integer
    post:
      summary: Reprocess satellite images for a process
      tags:
      - Leaf API_Reference_Crop_Monitoring API
      responses:
        '202':
          description: Reprocessing accepted
  /satellite/api/fields/{fieldId}/subscription:
    parameters:
    - name: fieldId
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get Planet subscription details for a field
      tags:
      - Leaf API_Reference_Crop_Monitoring API
      responses:
        '200':
          description: Subscription information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
  /fields/api/fields:
    get:
      summary: Get all fields
      description: Returns a paginated list of fields. Filters can be applied via
        query parameters.
      security:
      - bearerAuth: []
      parameters:
      - in: query
        name: type
        schema:
          type: string
      - in: query
        name: farmId
        schema:
          type: integer
      - in: query
        name: provider
        schema:
          type: string
      - in: query
        name: leafUserId
        schema:
          type: string
          format: uuid
      - in: query
        name: page
        schema:
          type: integer
          minimum: 0
      - in: query
        name: size
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      responses:
        '200':
          description: Paged list of fields
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Leaf_API_Reference_Field_Boundary_Management_API_Field'
      tags:
      - Leaf API_Reference_Field_Boundary_Management API
  /fields/api/users/{leafUserId}/fields:
    post:
      summary: Create a field
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/LeafUserId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FieldCreate'
      responses:
        '201':
          description: Created field
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Leaf_API_Reference_Field_Boundary_Management_API_Field'
      tags:
      - Leaf API_Reference_Field_Boundary_Management API
  /fields/api/users/{leafUserId}/fields/{fieldId}:
    get:
      summary: Get a field
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/LeafUserId'
      - $ref: '#/components/parameters/FieldId'
      responses:
        '200':
          description: Field resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Leaf_API_Reference_Field_Boundary_Management_API_Field'
      tags:
      - Leaf API_Reference_Field_Boundary_Management API
    patch:
      summary: Update a field
      description: Only manually created fields can be updated.
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/LeafUserId'
      - $ref: '#/components/parameters/FieldId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FieldUpdate'
      responses:
        '200':
          description: Updated field
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Leaf_API_Reference_Field_Boundary_Management_API_Field'
      tags:
      - Leaf API_Reference_Field_Boundary_Management API
    delete:
      summary: Delete a field
      description: Provider-created fields cannot be deleted by Leaf.
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/LeafUserId'
      - $ref: '#/components/parameters/FieldId'
      responses:
        '204':
          description: Field deleted
      tags:
      - Leaf API_Reference_Field_Boundary_Management API
  /fields/api/users/{leafUserId}/fields/{fieldId}/operations/files:
    get:
      summary: Get all operation files of a field
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/LeafUserId'
      - $ref: '#/components/parameters/FieldId'
      - in: query
        name: operationType
        schema:
          type: string
          enum:
          - harvested
          - planted
          - applied
          - other
      - in: query
        name: provider
        schema:
          type: string
      - in: query
        name: origin
        schema:
          type: string
          enum:
          - provider
          - automerged
          - merged
          - uploaded
      - in: query
        name: crop
        schema:
          type: string
      - in: query
        name: startTime
        schema:
          type: string
          format: date-time
      - in: query
        name: endTime
        schema:
          type: string
          format: date-time
      - in: query
        name: page
        schema:
          type: integer
          minimum: 0
      - in: query
        name: size
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      responses:
        '200':
          description: List of operation files
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OperationFile'
      tags:
      - Leaf API_Reference_Field_Boundary_Management API
  /fields/api/users/{leafUserId}/fields/{fieldId}/operations/files/{fileId}:
    get:
      summary: Get an operation file of a field
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/LeafUserId'
      - $ref: '#/components/parameters/FieldId'
      - $ref: '#/components/parameters/FileId'
      responses:
        '200':
          description: Operation file
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFile'
      tags:
      - Leaf API_Reference_Field_Boundary_Management API
  /fields/api/users/{leafUserId}/fields/intersects:
    post:
      summary: Get fields by geometry intersection
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/LeafUserId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - geometry
              properties:
                geometry:
                  $ref: '#/components/schemas/Leaf_API_Reference_Field_Boundary_Management_API_Geometry'
                intersectionThreshold:
                  type: number
                  minimum: 0.01
                  maximum: 100
                  default: 0.01
      responses:
        '200':
          description: List of intersecting fields
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Leaf_API_Reference_Field_Boundary_Management_API_Field'
      tags:
      - Leaf API_Reference_Field_Boundary_Management API
  /fields/api/users/{leafUserId}/fields/intersect:
    post:
      summary: Get intersection of fields
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/LeafUserId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
                format: uuid
      responses:
        '200':
          description: Geometry representing intersection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Leaf_API_Reference_Field_Boundary_Management_API_Geometry'
      tags:
      - Leaf API_Reference_Field_Boundary_Management API
  /fields/api/users/{leafUserId}/fields/sync:
    post:
      summary: Trigger manual field synchronization
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/LeafUserId'
      responses:
        '202':
          description: Sync scheduled
      tags:
      - Leaf API_Reference_Field_Boundary_Management API
  /fields/api/users/{leafUserId}/fields/{fieldId}/enableSync:
    post:
      summary: Enable a preview field for synchronization
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/LeafUserId'
      - $ref: '#/components/parameters/FieldId'
      responses:
        '202':
          description: Field marked for synchronization
      tags:
      - Leaf API_Reference_Field_Boundary_Management API
  /fields/api/users/{leaf_user_id}/fields/{field_id}/integration/{provider_name}:
    post:
      summary: Upload field boundary to provider
      security:
      - bearerAuth: []
      parameters:
      - name: leaf_user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: field_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: provider_name
        in: path
        required: true
        schema:
          type: string
          enum:
          - JohnDeere
          - ClimateFieldView
      - $ref: '#/components/parameters/OrganizationIdQuery'
      responses:
        '202':
          description: Upload scheduled
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
      tags:
      - Leaf API_Reference_Field_Boundary_Management API
  /fields/api/users/{leafUserId}/fields/{fieldId}/boundaries:
    get:
      summary: Get all boundaries from field
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/LeafUserId'
      - $ref: '#/components/parameters/FieldId'
      responses:
        '200':
          description: List of boundaries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Boundary'
      tags:
      - Leaf API_Reference_Field_Boundary_Management API
  /fields/api/users/{leafUserId}/fields/{fieldId}/boundaries/{boundaryId}:
    get:
      summary: Get a boundary from field
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/LeafUserId'
      - $ref: '#/components/parameters/FieldId'
      - $ref: '#/components/parameters/BoundaryId'
      responses:
        '200':
          description: Boundary resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Boundary'
      tags:
      - Leaf API_Reference_Field_Boundary_Management API
  /fields/api/users/{leafUserId}/fields/{fieldId}/boundary:
    get:
      summary: Get active boundary from field
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/LeafUserId'
      - $ref: '#/components/parameters/FieldId'
      responses:
        '200':
          description: Active boundary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Boundary'
      tags:
      - Leaf API_Reference_Field_Boundary_Management API
    put:
      summary: Update active boundary from field
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/LeafUserId'
      - $ref: '#/components/parameters/FieldId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoundaryUpdate'
      responses:
        '200':
          description: New active boundary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Boundary'
      tags:
      - Leaf API_Reference_Field_Boundary_Management API
  /fields/api/farms:
    get:
      summary: Get all farms
      security:
      - bearerAuth: []
      parameters:
      - in: query
        name: growerId
        schema:
          type: integer
      - in: query
        name: provider
        schema:
          type: string
      - in: query
        name: leafUserId
        schema:
          type: string
          format: uuid
      - in: query
        name: page
        schema:
          type: integer
          minimum: 0
      - in: query
        name: size
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      responses:
        '200':
          description: List of farms
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Farm'
      tags:
      - Leaf API_Reference_Field_Boundary_Management API
  /fields/api/users/{leafUserId}/farms:
    post:
      summary: Create a farm
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/LeafUserId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FarmCreate'
      responses:
        '201':
          description: Created farm
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Farm'
      tags:
      - Leaf API_Reference_Field_Boundary_Management API
  /fields/api/users/{leafUserId}/farms/{id}:
    get:
      summary: Get a farm
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/LeafUserId'
      - $ref: '#/components/parameters/FarmId'
      responses:
        '200':
          description: Farm resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Farm'
      tags:
      - Leaf API_Reference_Field_Boundary_Management API
    put:
      summary: Update a farm
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/LeafUserId'
      - $ref: '#/components/parameters/FarmId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FarmCreate'
      responses:
        '200':
          description: Updated farm
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Farm'
      tags:
      - Leaf API_Reference_Field_Boundary_Management API
  /fields/api/growers:
    get:
      summary: Get all growers
      security:
      - bearerAuth: []
      parameters:
      - in: query
        name: provider
        schema:
          type: string
      - in: query
        name: leafUserId
        schema:
          type: string
          format: uuid
      - in: query
        name: page
        schema:
          type: integer
          minimum: 0
      - in: query
        name: size
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      responses:
        '200':
          description: List of growers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Grower'
      tags:
      - Leaf API_Reference_Field_Boundary_Management API
  /fields/api/users/{leafUserId}/growers:
    post:
      summary: Create a grower
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/LeafUserId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrowerCreate'
      responses:
        '201':
          description: Created grower
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Grower'
      tags:
      - Leaf API_Reference_Field_Boundary_Management API
  /fields/api/users/{leafUserId}/growers/{id}:
    get:
      summary: Get a grower
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/LeafUserId'
      - $ref: '#/components/parameters/GrowerId'
      responses:
        '200':
          description: Grower resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Grower'
      tags:
      - Leaf API_Reference_Field_Boundary_Management API
    put:
      summary: Update a grower
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/LeafUserId'
      - $ref: '#/components/parameters/GrowerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrowerCreate'
      responses:
        '200':
          description: Updated grower
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Grower'
      tags:
      - Leaf API_Reference_Field_Boundary_Management API
  /fields/api/growers/enableSync:
    post:
      summary: Enable preview fields by grower
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - growerIds
              properties:
                growerIds:
                  type: array
                  items:
                    type: integer
      responses:
        '202':
          description: Growers scheduled for field synchronization
      tags:
      - Leaf API_Reference_Field_Boundary_Management API
  /uploadservice/api/upload:
    post:
      tags:
      - Leaf API_Reference_Field_Boundary_Management_Upload_fields API
      summary: Upload a field file
      description: "Creates Leaf field boundaries from a zip archive containing shapefile,\
        \ GeoJSON, or KML/KMZ data.\n\u2022 Max file size: 3 GB  \n\u2022 Max 100\
        \ fields per upload  \nAll geometries are re-projected to EPSG:4326.  \nIf\
        \ the uploaded data contains a property named **name**, it is used as the\
        \ Leaf field name.\n"
      operationId: uploadFieldFile
      security:
      - bearerAuth: []
      parameters:
      - in: query
        name: leafUserId
        description: Leaf user ID that will own the created fields.
        required: true
        schema:
          type: string
          format: uuid
      - in: query
        name: farmId
        description: Optional existing Leaf farm ID; created fields will be placed
          under this farm.
        required: false
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: Zip archive containing the spatial files to be processed.
              required:
              - file
      responses:
        '201':
          description: Upload successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Upload'
        '400':
          description: Invalid request parameters or file.
    get:
      tags:
      - Leaf API_Reference_Field_Boundary_Management_Upload_fields API
      summary: Get all uploads
      operationId: listUploads
      security:
      - bearerAuth: []
      responses:
        '200':
          description: A list of all uploads belonging to the authenticated user.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Upload'
        '401':
          description: Unauthorized
  /uploadservice/api/upload/{uploadId}:
    get:
      tags:
      - Leaf API_Reference_Field_Boundary_Management_Upload_fields API
      summary: Get an upload
      operationId: getUpload
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: uploadId
        required: true
        schema:
          type: string
          format: uuid
        description: Identifier returned by the upload creation request.
      responses:
        '200':
          description: Detailed information about a single upload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Upload'
        '404':
          description: Upload not found
  /uploadservice/api/upload/{uploadId}/entries:
    get:
      tags:
      - Leaf API_Reference_Field_Boundary_Management_Upload_fields API
      summary: Get the upload entries
      operationId: listUploadEntries
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: uploadId
        required: true
        schema:
          type: string
          format: uuid
        description: Identifier returned by the upload creation request.
      responses:
        '200':
          description: Processing results for each compatible file detected in the
            upload.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Entry'
        '404':
          description: Upload not found
  /operations/api/operations:
    get:
      summary: Get all operations
      description: Returns a paginated list of operations that belong to the authenticated
        API owner.
      operationId: listOperations
      parameters:
      - in: query
        name: leafUserId
        schema:
          type: string
          format: uuid
      - in: query
        name: provider
        schema:
          type: string
          enum:
          - CNHI
          - JohnDeere
          - Trimble
          - ClimateFieldView
          - AgLeader
          - Stara
          - Leaf
      - in: query
        name: startTime
        description: Return operations whose startTime is **after or equal** to this
          value.
        schema:
          type: string
          format: date-time
      - in: query
        name: updatedTime
        description: Return operations whose updatedTime is **after or equal** to
          this value.
        schema:
          type: string
          format: date-time
      - in: query
        name: endTime
        description: Return operations whose endTime is **before or equal** to this
          value.
        schema:
          type: string
          format: date-time
      - in: query
        name: operationType
        schema:
          type: string
          enum:
          - applied
          - planted
          - harvested
          - tillage
      - in: query
        name: fieldId
        schema:
          type: string
          format: uuid
      - in: query
        name: page
        schema:
          type: integer
          minimum: 0
          default: 0
      - in: query
        name: size
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      - in: query
        name: sort
        description: "Comma-separated list of fields to sort by.  \nA field can be\
          \ followed by `asc` or `desc` (default `asc`).  \nAllowed fields: id, leafUserId,\
          \ startTime, endTime, type, updatedTime.\n"
        schema:
          type: string
      responses:
        '200':
          description: Paged array of operations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Operation'
      tags:
      - Leaf API_Reference_Field_Operations API
  /operations/api/operations/{id}:
    get:
      summary: Get an operation
      operationId: getOperation
      parameters:
      - $ref: '#/components/parameters/operationId'
      responses:
        '200':
          description: Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
      tags:
      - Leaf API_Reference_Field_Operations API
  /operations/api/operations/{id}/summary:
    get:
      summary: Get operation summary
      operationId: getOperationSummary
      parameters:
      - $ref: '#/components/parameters/operationId'
      responses:
        '200':
          description: Summary GeoJSON feature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSummary'
      tags:
      - Leaf API_Reference_Field_Operations API
  /operations/api/operations/{id}/standardGeojson:
    get:
      summary: Get standardGeoJSON links
      operationId: getStandardGeojson
      parameters:
      - $ref: '#/components/parameters/operationId'
      responses:
        '200':
          description: URLs to the standard GeoJSON
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardGeojsonLinks'
      tags:
      - Leaf API_Reference_Field_Operations API
  /operations/api/operations/{id}/standardGeoparquet:
    get:
      summary: Get standard GeoParquet link
      operationId: getStandardGeoparquet
      parameters:
      - $ref: '#/components/parameters/operationId'
      responses:
        '200':
          description: URL to the standard GeoParquet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardGeoparquetLinks'
      tags:
      - Leaf API_Reference_Field_Operations API
  /operations/api/operations/{id}/filteredGeojson:
    get:
      summary: Get filteredGeoJSON links
      operationId: getFilteredGeojson
      parameters:
      - $ref: '#/components/parameters/operationId'
      responses:
        '200':
          description: URLs to the filtered GeoJSON
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilteredGeojsonLinks'
      tags:
      - Leaf API_Reference_Field_Operations API
  /operations/api/operations/{id}/filteredGeoparquet:
    get:
      summary: Get filtered GeoParquet link
      operationId: getFilteredGeoparquet
      parameters:
      - $ref: '#/components/parameters/operationId'
      responses:
        '200':
          description: URL to the filtered GeoParquet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilteredGeoparquetLinks'
      tags:
      - Leaf API_Reference_Field_Operations API
  /operations/api/operations/{id}/images:
    get:
      summary: Get PNG images (legacy)
      operationId: getImages
      parameters:
      - $ref: '#/components/parameters/operationId'
      responses:
        '200':
          description: List of PNG images
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ImagesItem'
      tags:
      - Leaf API_Reference_Field_Operations API
  /operations/api/operations/{id}/imagesV2:
    get:
      summary: Get PNG images V2
      operationId: getImagesV2
      parameters:
      - $ref: '#/components/parameters/operationId'
      responses:
        '200':
          description: List of improved PNG images
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ImagesV2Item'
      tags:
      - Leaf API_Reference_Field_Operations API
  /operations/api/operations/{id}/geotiffImages:
    get:
      summary: Get GeoTIFF images
      operationId: getGeotiffImages
      parameters:
      - $ref: '#/components/parameters/operationId'
      responses:
        '200':
          description: List of GeoTIFF images
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GeotiffImageItem'
      tags:
      - Leaf API_Reference_Field_Operations API
  /operations/api/operations/{id}/units:
    get:
      summary: Get operation units
      operationId: getUnits
      parameters:
      - $ref: '#/components/parameters/operationId'
      responses:
        '200':
          description: "Map of property \u2192 unit"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnitsResponse'
      tags:
      - Leaf API_Reference_Field_Operations API
  /operations/api/operations/{id}/machines:
    get:
      summary: Get machines used in the operation
      operationId: getMachines_Leaf_API_Reference_Field_Operations_API_1
      parameters:
      - $ref: '#/components/parameters/operationId'
      responses:
        '200':
          description: IDs of machines
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachinesResponse'
      tags:
      - Leaf API_Reference_Field_Operations API
  /operations/api/operations/{id}/implements:
    get:
      summary: Get implements used in the operation
      operationId: getImplements_Leaf_API_Reference_Field_Operations_API_1
      parameters:
      - $ref: '#/components/parameters/operationId'
      responses:
        '200':
          description: IDs of implements
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImplementsResponse'
      tags:
      - Leaf API_Reference_Field_Operations API
  /operations/api/operations/{id}/operators:
    get:
      summary: Get operators involved in the operation
      operationId: getOperators_Leaf_API_Reference_Field_Operations_API_1
      parameters:
      - $ref: '#/components/parameters/operationId'
      responses:
        '200':
          description: IDs of operators
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperatorsResponse'
      tags:
      - Leaf API_Reference_Field_Operations API
  /operations/api/operations/{id}/sessions:
    get:
      summary: Get operation sessions
      operationId: getSessions
      parameters:
      - $ref: '#/components/parameters/operationId'
      responses:
        '200':
          description: List of session groups by machine
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SessionGroup'
      tags:
      - Leaf API_Reference_Field_Operations API
  /operations/api/operations/cropOperationByField:
    post:
      summary: Crop operation by field
      operationId: cropOperationByField
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - id
              properties:
                id:
                  description: Operation ID to be cropped
                  type: string
                  format: uuid
      responses:
        '202':
          description: Crop job accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CropResponse'
      tags:
      - Leaf API_Reference_Field_Operations API
  /operations/api/operations/{id}/reprocess:
    post:
      summary: Reprocess an operation
      operationId: reprocessOperation
      parameters:
      - $ref: '#/components/parameters/operationId'
      responses:
        '202':
          description: Reprocess job accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReprocessResponse'
      tags:
      - Leaf API_Reference_Field_Operations API
  /operations/api/operations/{id}/files:
    get:
      summary: Get files from an operation
      operationId: getFiles
      parameters:
      - $ref: '#/components/parameters/operationId'
      responses:
        '200':
          description: List of original files that compose the field operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      tags:
      - Leaf API_Reference_Field_Operations API
  /irrigation/api/users/{leafUserId}/irrigation-equipment:
    get:
      summary: Get all irrigation equipment
      parameters:
      - $ref: '#/components/parameters/Leaf_API_Reference_Irrigation_API_leafUserId'
      - $ref: '#/components/parameters/providerEquipmentId'
      - $ref: '#/components/parameters/provider'
      responses:
        '200':
          description: List of irrigation equipment
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IrrigationEquipment'
        '401':
          $ref: '#/components/responses/Leaf_API_Reference_Irrigation_API_UnauthorizedError'
      security:
      - bearerAuth: []
      tags:
      - Leaf API_Reference_Irrigation API
  /irrigation/api/users/{leafUserId}/irrigation-equipment/{id}:
    get:
      summary: Get an irrigation equipment by ID
      parameters:
      - $ref: '#/components/parameters/Leaf_API_Reference_Irrigation_API_leafUserId'
      - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: Irrigation equipment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IrrigationEquipment'
        '401':
          $ref: '#/components/responses/Leaf_API_Reference_Irrigation_API_UnauthorizedError'
      security:
      - bearerAuth: []
      tags:
      - Leaf API_Reference_Irrigation API
  /irrigation/api/users/{leafUserId}/irrigation/applied-irrigation:
    get:
      summary: Get as-applied irrigation activities
      parameters:
      - $ref: '#/components/parameters/Leaf_API_Reference_Irrigation_API_leafUserId'
      - $ref: '#/components/parameters/provider'
      - $ref: '#/components/parameters/startTime'
      - $ref: '#/components/parameters/endTime'
      responses:
        '200':
          description: List of irrigation activities summarised by day
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AppliedIrrigation'
        '401':
          $ref: '#/components/responses/Leaf_API_Reference_Irrigation_API_UnauthorizedError'
      security:
      - bearerAuth: []
      tags:
      - Leaf API_Reference_Irrigation API
  /irrigation/api/users/{leafUserId}/irrigation/applied-irrigation/{id}:
    get:
      summary: Get an irrigation activity by ID
      parameters:
      - $ref: '#/components/parameters/Leaf_API_Reference_Irrigation_API_leafUserId'
      - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: Irrigation activity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppliedIrrigation'
        '401':
          $ref: '#/components/responses/Leaf_API_Reference_Irrigation_API_UnauthorizedError'
      security:
      - bearerAuth: []
      tags:
      - Leaf API_Reference_Irrigation API
  /irrigation/api/users/{leafUserId}/irrigation/fields:
    get:
      summary: Get all irrigated fields
      parameters:
      - $ref: '#/components/parameters/Leaf_API_Reference_Irrigation_API_leafUserId'
      - $ref: '#/components/parameters/equipmentId'
      - $ref: '#/components/parameters/startTime'
      - $ref: '#/components/parameters/endTime'
      responses:
        '200':
          description: List of fields that received irrigation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FieldListItem'
        '401':
          $ref: '#/components/responses/Leaf_API_Reference_Irrigation_API_UnauthorizedError'
      security:
      - bearerAuth: []
      tags:
      - Leaf API_Reference_Irrigation API
  /irrigation/api/users/{leafUserId}/irrigation/fields/{fieldId}:
    get:
      summary: Get irrigation information for a specific field
      parameters:
      - $ref: '#/components/parameters/Leaf_API_Reference_Irrigation_API_leafUserId'
      - $ref: '#/components/parameters/fieldId'
      - $ref: '#/components/parameters/irrigationId'
      - $ref: '#/components/parameters/provider'
      - $ref: '#/components/parameters/startTime'
      - $ref: '#/components/parameters/endTime'
      responses:
        '200':
          description: Irrigation activities for the field
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FieldIrrigationRecord'
        '401':
          $ref: '#/components/responses/Leaf_API_Reference_Irrigation_API_UnauthorizedError'
      security:
      - bearerAuth: []
      tags:
      - Leaf API_Reference_Irrigation API
  /irrigation/api/users/{leafUserId}/irrigation/fields/{fieldId}/irrigated/{id}:
    get:
      summary: Get a field irrigation activity by ID
      parameters:
      - $ref: '#/components/parameters/Leaf_API_Reference_Irrigation_API_leafUserId'
      - $ref: '#/components/parameters/fieldId'
      - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: Field irrigation activity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldIrrigationRecord'
        '401':
          $ref: '#/components/responses/Leaf_API_Reference_Irrigation_API_UnauthorizedError'
      security:
      - bearerAuth: []
      tags:
      - Leaf API_Reference_Irrigation API
  /usermanagement/api/api-owners/sharing-relation/{relationRole}:
    get:
      tags:
      - Leaf API_Reference_Leaf_Connect API
      summary: List API Owner sharing relations
      description: Returns all sharing relations where the caller acts as **relationRole**
        (`SENDER` or `RECEIVER`).
      parameters:
      - $ref: '#/components/parameters/RelationRole'
      responses:
        '200':
          description: Array with the existing relations.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SharingRelation'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /usermanagement/api/api-owners/sharing-relation/{relationRole}/{targetApiOwner}/status:
    get:
      tags:
      - Leaf API_Reference_Leaf_Connect API
      summary: Get sharing relation status
      parameters:
      - $ref: '#/components/parameters/RelationRole'
      - $ref: '#/components/parameters/TargetApiOwner'
      responses:
        '200':
          description: Current status for the relation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelationStatus'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /usermanagement/api/api-owners/sharing-relation/receiver:
    post:
      tags:
      - Leaf API_Reference_Leaf_Connect API
      summary: Create a sharing relation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - receiverApiOwner
              properties:
                receiverApiOwner:
                  type: string
                  description: The API Owner that will receive shared data.
      responses:
        '201':
          description: Relation created with status `PENDING`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharingRelation'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /usermanagement/api/api-owners/sharing-relation/{relationRole}/{targetApiOwner}:
    patch:
      tags:
      - Leaf API_Reference_Leaf_Connect API
      summary: Update sharing relation status
      description: "Change a relation\u2019s status to `ALLOWED` or `BLOCKED`."
      parameters:
      - $ref: '#/components/parameters/RelationRole'
      - $ref: '#/components/parameters/TargetApiOwner'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - status
              properties:
                status:
                  $ref: '#/components/schemas/RelationStatus'
      responses:
        '200':
          description: Updated relation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharingRelation'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /usermanagement/api/api-owners/sharing-relation/{relationRole}/{targetApiOwner}/invalidate-tokens:
    post:
      tags:
      - Leaf API_Reference_Leaf_Connect API
      summary: Invalidate receiver tokens
      description: Immediately invalidates all tokens previously issued to the receiver.
      parameters:
      - $ref: '#/components/parameters/RelationRole'
      - $ref: '#/components/parameters/TargetApiOwner'
      responses:
        '204':
          description: Tokens invalidated.
        default:
          $ref: '#/components/responses/UnexpectedError'
  /usermanagement/api/api-owners/sharing-relation/{relationRole}/{targetApiOwner}/users-permissions/{leafUserId}:
    get:
      tags:
      - Leaf API_Reference_Leaf_Connect API
      summary: Get Leaf user permissions
      parameters:
      - $ref: '#/components/parameters/RelationRole'
      - $ref: '#/components/parameters/TargetApiOwner'
      - $ref: '#/components/parameters/LeafUserId'
      responses:
        '200':
          description: Permission object for the Leaf user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeafUserPermissions'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /usermanagement/api/api-owners/sharing-relation/receiver/{receiverApiOwner}/users-permissions/{leafUserId}:
    post:
      tags:
      - Leaf API_Reference_Leaf_Connect API
      summary: Create Leaf user permissions
      parameters:
      - $ref: '#/components/parameters/ReceiverApiOwner'
      - $ref: '#/components/parameters/LeafUserId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeafUserPermissionsRequest'
      responses:
        '201':
          description: Permissions granted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeafUserPermissions'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /usermanagement/api/api-owners/sharing-relation/receiver/{receiverApiOwner}/users-permissions/{leafUserId}/{resource}:
    patch:
      tags:
      - Leaf API_Reference_Leaf_Connect API
      summary: Update permissions for a specific resource
      parameters:
      - $ref: '#/components/parameters/ReceiverApiOwner'
      - $ref: '#/components/parameters/LeafUserId'
      - $ref: '#/components/parameters/Resource'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourcePermission'
      responses:
        '200':
          description: Updated permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeafUserPermissions'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /usermanagement/api/api-owners/sharing-relation/{relationRole}/{receiverApiOwner}/users-permissions/{leafUserId}:
    delete:
      tags:
      - Leaf API_Reference_Leaf_Connect API
      summary: Delete Leaf user permissions
      parameters:
      - $ref: '#/components/parameters/RelationRole'
      - $ref: '#/components/parameters/ReceiverApiOwner'
      - $ref: '#/components/parameters/LeafUserId'
      responses:
        '204':
          description: Permission deleted.
        default:
          $ref: '#/components/responses/UnexpectedError'
  /usermanagement/api/api-keys:
    get:
      summary: Get all Leaf user API keys
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/LeafUserIdQuery'
      responses:
        '200':
          description: List of API keys for the specified Leaf user.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiKey'
      tags:
      - Leaf API_Reference_Leaf_Link API
    post:
      summary: Create a Leaf user API key
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyCreateRequest'
      responses:
        '201':
          description: Newly created API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyCreateResponse'
      tags:
      - Leaf API_Reference_Leaf_Link API
  /usermanagement/api/api-keys/{apiKeyId}:
    delete:
      summary: Revoke a Leaf user API key
      security:
      - bearerAuth: []
      parameters:
      - name: apiKeyId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: API key successfully revoked.
      tags:
      - Leaf API_Reference_Leaf_Link API
  /usermanagement/api/app-keys/{provider}:
    get:
      summary: Get all application information for a provider
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/ProviderParam'
      responses:
        '200':
          description: Provider application list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AppKeySummary'
      tags:
      - Leaf API_Reference_Leaf_Link API
  /usermanagement/api/app-keys/{provider}/{appName}:
    get:
      summary: Get application information
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/ProviderParam'
      - $ref: '#/components/parameters/AppNameParam'
      responses:
        '200':
          description: Application information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppKeySummary'
      tags:
      - Leaf API_Reference_Leaf_Link API
    post:
      summary: Create application information
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/ProviderParam'
      - $ref: '#/components/parameters/AppNameParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericAppKeyRequest'
      responses:
        '201':
          description: Application information created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppKeySummary'
      tags:
      - Leaf API_Reference_Leaf_Link API
    put:
      summary: Update application information
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/ProviderParam'
      - $ref: '#/components/parameters/AppNameParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericAppKeyRequest'
      responses:
        '200':
          description: Application information updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppKeySummary'
      tags:
      - Leaf API_Reference_Leaf_Link API
    delete:
      summary: Delete application information
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/ProviderParam'
      - $ref: '#/components/parameters/AppNameParam'
      responses:
        '204':
          description: Application information deleted
      tags:
      - Leaf API_Reference_Leaf_Link API
  /usermanagement/api/app-keys/{provider}/{appName}/{clientEnvironment}:
    get:
      summary: Get application information (environment specific)
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/ProviderParam'
      - $ref: '#/components/parameters/AppNameParam'
      - $ref: '#/components/parameters/ClientEnvParam'
      responses:
        '200':
          description: Application information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppKeySummary'
      tags:
      - Leaf API_Reference_Leaf_Link API
    post:
      summary: Create application information (environment specific)
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/ProviderParam'
      - $ref: '#/components/parameters/AppNameParam'
      - $ref: '#/components/parameters/ClientEnvParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericAppKeyRequest'
      responses:
        '201':
          description: Application information created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppKeySummary'
      tags:
      - Leaf API_Reference_Leaf_Link API
    put:
      summary: Update application information (environment specific)
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/ProviderParam'
      - $ref: '#/components/parameters/AppNameParam'
      - $ref: '#/components/parameters/ClientEnvParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericAppKeyRequest'
      responses:
        '200':
          description: Application information updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppKeySummary'
      tags:
      - Leaf API_Reference_Leaf_Link API
    delete:
      summary: Delete application information (environment specific)
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/ProviderParam'
      - $ref: '#/components/parameters/AppNameParam'
      - $ref: '#/components/parameters/ClientEnvParam'
      responses:
        '204':
          description: Application information deleted
      tags:
      - Leaf API_Reference_Leaf_Link API
  /usermanagement/api/users:
    get:
      tags:
      - Leaf API_Reference_Leaf_User API
      summary: Get all Leaf Users
      description: 'Returns a paged list of Leaf Users belonging to the authenticated
        API owner. Results can be filtered by email, name, or externalId.

        '
      security:
      - bearerAuth: []
      parameters:
      - name: email
        in: query
        schema:
          type: string
          format: email
        description: Filter by user e-mail.
      - name: name
        in: query
        schema:
          type: string
        description: Filter by user name.
      - name: externalId
        in: query
        schema:
          type: string
        description: Filter by external identifier.
      - name: page
        in: query
        schema:
          type: integer
          minimum: 0
          default: 0
        description: Page number (zero-based).
      - name: size
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        description: Page size (max 100).
      responses:
        '200':
          description: Array of Leaf Users
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
    post:
      tags:
      - Leaf API_Reference_Leaf_User API
      summary: Create a Leaf User
      description: 'Creates a new Leaf User. Optionally links provider credentials
        by supplying their IDs.

        '
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUser'
      responses:
        '201':
          description: Newly created Leaf User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
    put:
      tags:
      - Leaf API_Reference_Leaf_User API
      summary: Update a Leaf User
      description: 'Replaces an existing Leaf User with the supplied payload. To keep
        provider credentials, include them in the request body; omitting them will
        remove the association.

        '
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/User'
      responses:
        '200':
          description: Updated Leaf User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
  /usermanagement/api/users/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: UUID of the Leaf User.
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Leaf API_Reference_Leaf_User API
      summary: Get a Leaf User
      description: Retrieve details for a single Leaf User by ID.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Leaf User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          description: User not found
    delete:
      tags:
      - Leaf API_Reference_Leaf_User API
      summary: Delete a Leaf User
      description: Permanently removes a Leaf User by ID.
      security:
      - bearerAuth: []
      responses:
        '204':
          description: User deleted successfully
  /operations/api/files:
    get:
      tags:
      - Leaf API_Reference_Machine_File_Conversion API
      summary: Get all files
      description: "Returns a paginated list of machine files that belong to the authenticated\
        \ account.  \nAll filter parameters are optional unless stated otherwise.\n"
      parameters:
      - name: leafUserId
        in: query
        description: Filter by the UUID of a Leaf User that owns the files
        schema:
          type: string
          format: uuid
      - name: provider
        in: query
        description: Filter by provider
        schema:
          $ref: '#/components/schemas/Provider'
      - name: status
        in: query
        schema:
          type: string
          enum:
          - processed
          - failed
          - processing
      - name: origin
        in: query
        schema:
          type: string
          enum:
          - provider
          - automerged
          - merged
          - uploaded
      - name: organizationId
[...]
